Filtering and Sorting (Rows & Columns)

In [1]:
data = {
'OrderID': [101,102,103,104,105,106,107,108,109,110],
'Customer': ['Ama','Kojo','Yaw','Ama','Esi','Kojo','Kofi','Abena','Yaw','Ama'],
'City': ['Accra','Kumasi','Accra','Takoradi','Accra','Kumasi','Accra','Takoradi','Kumasi','Accra'],
'Product': ['Laptop','Phone','Tablet','Laptop','Phone','Laptop','Tablet','Phone','Laptop','Tablet'],
'Quantity': [1,2,3,1,2,1,4,3,2,1],
'Price': [5000,2000,1500,5200,2100,5100,1550,2200,5300,1600],
'OrderDate': [
'2025-01-01','2025-01-03','2025-01-05','2025-01-06','2025-01-10',
'2025-01-12','2025-01-15','2025-01-18','2025-01-20','2025-01-22'
]
}

In [ ]:
1Ô∏è‚É£ Select all orders from Accra.

In [ ]:
2Ô∏è‚É£ Select all orders where Quantity > 2.

In [ ]:
3Ô∏è‚É£ Select all Laptop orders in Kumasi.

4Ô∏è‚É£ Select orders where Price is between 2000 and 5000.

5Ô∏è‚É£ Select customers whose name starts with ‚ÄòA‚Äô.

6Ô∏è‚É£ Select products that contain the letter ‚Äút‚Äù (case-insensitive).

7Ô∏è‚É£ Select orders NOT from Takoradi.

8Ô∏è‚É£ Select orders where City is either Accra or Kumasi.

9Ô∏è‚É£ Select rows where the Customer is Ama AND Product is Tablet.

üîü Select orders that happened after 2025-01-10.

In [ ]:
1Ô∏è‚É£ Sort the data by Price (descending).

2Ô∏è‚É£ Sort by City (A‚ÄìZ) then Price (high to low).

3Ô∏è‚É£ Sort by Customer and OrderDate.

4Ô∏è‚É£ Sort by Quantity (highest first).

5Ô∏è‚É£ Sort by Product, but keep OrderID ascending.

Null Values

In [ ]:
data = {
'Name': ['Ama', 'Kojo', 'Yaw', 'Esi', 'Kofi'],
'Age': [25, None, 30, None, 40],
'City': ['Accra', 'Kumasi', None, 'Takoradi', None],
'Salary': [5000, 4200, None, 3900, None]
}

In [ ]:
# 1. Find how many null values are in each column.
# 2. Select only the rows where City is null.
# 3. Select only the rows where Salary is not null.
# 4. Drop all rows that contain ANY null values.
# 5. Drop only the rows where Age is null.
# 6. Fill null ages with the mean Age
# 7. Fill null cities with "Unknown"
# 8. Fill null salaries with the median Salary
# 9. Use forward fill (ffill) to fill all null values.
# 10. Use backward fill (bfill) to fill all null values.