In [1]:
# Create a pandas Series from a list [100, 200, 300, 400].
# Display the Series.

In [ ]:
# Create a Series from a dictionary:
{'Apples': 50, 'Bananas': 100, 'Oranges': 80}
Print both the index and values.

In [ ]:
# Create a Series with custom indexes:
Values = [5, 10, 15], Index = ['A', 'B', 'C'].

In [1]:
# Create a DataFrame using the following dictionary
data = {
    'Name': ['Ama', 'Kojo', 'Esi', 'Yaw'],
    'Age': [22, 25, 20, 30],
    'City': ['Accra', 'Kumasi', 'Cape Coast', 'Takoradi']
}
# display the datafram

In [ ]:
#Save the DataFrame from the question above as a CSV file called "students.csv".

In [3]:
# Read the file "students.csv" into a new DataFrame called df2.

I will try this with you when we meet

In [ ]:
# Step 1: Create a DataFrame of 3 employees with columns Name, Salary, and Department.
# Step 2: Add a new column called Bonus = 10% of Salary.
# Step 3: Save it as "employees.csv".
# Step 4: Read "employees.csv" into a new DataFrame.
# Step 5: Display only employees with Salary above 3000.
# Step 6: Replace any missing values in Bonus with 0.
# Step 7: Save the updated DataFrame as "employees_updated.csv".