<a href="https://colab.research.google.com/github/llawlaw23/Python_101/blob/Tess/Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise on Datatypes and variable

Variables

In [ ]:
# Assign the value 15 to a variable named age.
age = 15

In [ ]:
# Print the value of age.
age = 15
age

15

In [ ]:
# Create a variable name and assign it your first name as a string.
firstname = "Theresah"

firstname

'Theresah'

In [ ]:
# Print a sentence combining both variables, for example:
# example:

# My name is Alice and I am 15 years old.
name = "Theresah"
age = 20
print("My name is", name, "and i am", age, "years old")

My name is Theresah and i am 20 years old

In [ ]:
# Which of the following variable names are invalid in Python?
# a. 2name
# b. _value
# c. first-name
# d. price
a, b, c

Number (int)

In [ ]:
# Store the number 10 in a variable a and the number 3 in a variable b.

a = 10
b = 3
a
b

3

In [ ]:
# Compute and print:
# a + b
# a - b
# a * b
# a / b
# a // b (integer division)
# a % b (remainder)
# a ** b (power)
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

13
7
30
3.3333333333333335
3
1
1000

Strings

In [ ]:
# Create a variable to contain "Hello".

a = "Hello"
a

'Hello'

In [ ]:
# Create a variable name with your name.
name = "Theresah"
name

'Theresah'

In [8]:
# print: Hello your name using string concatenation.

print("Hello" + " "  + "your"  + " " +  "name")

Hello your name

Type Conversion

In [12]:
# Convert the string "123" into an integer and add 10 to it.
c = int("123")
c
print(c + 10)

133

In [11]:
type(l)
type(c)

int

In [ ]:
# Convert the number 99 into a string and concatenate it with " bottles".
a = 99
book = str(a) + "bottles"
print(book)

99bottles

In [ ]:
# Convert the float 3.14 into an integer. What happens
num = int(3.14)
num

3

Challenge yourself

In [ ]:
# Write a program that asks the user for their name and age, then prints:
name = input("Enter your name")
age = input("Enter your age")

# Hello [name], next year you will be [age+1] years old.
print("Hello", name, "next year will be",age, "+1 years old")

Enter your nameTheresah
Enter your age17
Hello Theresah next year will be 17 +1 years old

In [ ]:
# Fix the following code so it runs without errors:

# 1name = "Alice"
# print("Hello", 1name)
# .mine = 'Miss"
# print('I am a, .mine)
name = "Alice"
print("Hello", name)
mine = "Miss"
print('i am a', mine)

Hello Alice
i am a Miss