<a href="https://colab.research.google.com/github/llawlaw23/Python_101/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Datatypes and variables

In [ ]:
print("Hello World")

Hello World

In [ ]:
print(5 + 4)

9

In [ ]:
num1 = 5
num2 = 4
sum = num1 + num2
print(sum)

9

In [ ]:
sum

9

In [ ]:
law = "Theresa"
tess = "'s"

In [ ]:
law

'Theresa'

In [ ]:
# print Theresa's
# what concatenation means
print(law + tess)
print("Theresa" + "'s")

Theresa's

In [ ]:
print("Theresa\'s")

Theresa's

In [ ]:
# Numerical Data
# Exponent = **

8

In [ ]:
name = "Tess"
age = 24
height = 5.5
is_student = True

In [ ]:
print("student Name:",name)
print("Studenet age:", age)
print("student height:", height)
print("is she a student:", is_student)

student Name: Tess
Studenet age: 24
student height: 5.5
is she a student: True

In [ ]:
# Checking for datatypes
print(type(name))
print(type(age))
print(type(height))
print(type(is_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
type(name)

str

In [ ]:
# Undeerstanding the input function
name = input("Enter your name: ")
age = input("Enter your age: ")

print("Hello", name + ", you are", age , "years old")

Enter your name: Tess
Enter your age: 22
Hello Tess, you are 22 years old

In [ ]:
print(f"Hello {name}, you are {age} years old")

Hello Tess, you are 22 years old

In [ ]:
num1 = str(input("Enter your first number"))
num2 = str(input("Enter your second number"))

print(num1 + num2)

Enter your first number3
Enter your second number4
34

In [ ]:
3num1

23.0

In [ ]:
num1 = float(input("Enter your first number:" ))
num2 = float(input("Enter your second number:" ))

print(num1 + num2)

Enter your first number:24
Enter your second number:23
47.0

In [ ]:
# Operators
# Arithmetic, compasrison, logical
a = 10
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a // b)
print(a ** b)
print(a > b)

13
7
30
3.3333333333333335
1
3
1000
True

In [ ]:
# Example of logical operator
1 == 1
2 == 2

True

Bytes

In [ ]:
# they are used to  work with binary data
bytes(4)

b'\x00\x00\x00\x00'

In [ ]:
law = "Hello World"
my_bytes = bytes(law, "utf-8")
print(my_bytes)

b'Hello World'

In [ ]:
my_bytes = bytes([72, 65, 68])
print(my_bytes)

b'HAD'

In [ ]:
smileyBytes = bytearray('ðŸ™„', 'utf-8')

In [ ]:
smileyBytes[3] = int("85", 16)
print(smileyBytes)

bytearray(b'\xf0\x9f\x99\x85')

In [ ]:
smileyBytes.decode('utf-8')

'ðŸ™…'

Data Structures
- List
- sets
- tuples
- dictionaries
- slicing and indexing

datatypes you can index
- string
- list

In [ ]:
my_list =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
law = "lawrencia"

In [ ]:
law[3]

'r'

In [ ]:
type(my_list)

list

In [ ]:
my_list = ["my", "name", "is", "tess"]

In [ ]:
my_list = [True, 1, [1, 2, 3, 4], "my"]

In [ ]:
len(my_list)

4

In [ ]:
my_list =[1, 2, 3, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
len(my_list)

13

In [ ]:
print(my_list[:2])

[1, 2]

In [ ]:
print(my_list[2:])

[3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# my_list[start:stop:step]
print(my_list[1:10:2])

[2, 4, 6, 8, 10]

In [ ]:
my_list[-3]

8

List Comprehensions

In [ ]:
mylist = [1, 2, 3, 4, 5]
[2 * item for item in mylist]

[2, 4, 6, 8, 10]

List Comprehensions with filters

In [ ]:
mylist = list(range(100))
filteredlist = [item for item in mylist if item % 5 == 0]
filteredlist

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
filterlist = [item for item in mylist if item % 6 == 0]
filterlist

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

List Comprehensions with functions

In [ ]:
print("apple", "banana", "kiwi", sep = ", ")

apple, banana, kiwi

In [51]:
cas = "apple banana kiwi"
print(cas.upper())

APPLE BANANA KIWI

In [52]:
cas = "Apple Banana Kiwi"
print(cas.lower())

apple banana kiwi

In [58]:
mystring = "My name is Theresah I live in Accra "
# mystring.split("/")

['My name is Theresah', ' I live in Accra ']

In [53]:
mystring.split()

['My', 'name', 'is', 'Theresah/', 'I', 'live', 'in', 'Accra']

In [61]:
def cleanword(word):
  return word.replace(" ", "").lower()
[cleanword(word) for word in mystring.split()]

['my', 'name', 'is', 'theresah/', 'i', 'live', 'in', 'accra']

In [62]:
[cleanword(word) for word in mystring.split() if len(cleanword(word)) < 3]

['my', 'is', 'i', 'in']

Nested list comprehentsions

In [ ]:
[cleanword(word) for word in mystring.split()]

Sets

In [ ]:
my_set = {1, 2, 3, 1, 2, 4, 5, 6, 3, 4, 5, 7, 8, 9, 10}

In [ ]:
len(my_set)

10

In [ ]:
{1, 2, 3, 1, 2,} == {1, 2, 3}

True

In [ ]:
type(my_set)

set

In [ ]:
my_tuple = (1, 2, 3, 1, 2, 4, 5, 6, 3, 4, 5, 7, 8, 9, 10)

In [ ]:
len(my_tuple)

15

list methods
- append
- insert
- extend
- replace
- remove
- pop
- clear
- sort and reverse
- copy

In [ ]:
ap = [1, 2, 3, 4]

In [ ]:
ap.append(64)

In [ ]:
ap

[1, 2, 3, 4, 64]

In [ ]:
ap.insert(2, 7)

In [ ]:
ap

[1, 2, 7, 3, 4, 64]

In [ ]:
ap.extend([8, 9, 10])

In [ ]:
ap

[1, 2, 7, 3, 4, 64, 8, 9, 10]

In [ ]:
ap[5] = 5

In [ ]:
ap

[1, 2, 7, 3, 4, 5, 8, 9, 10]

In [ ]:
ap.insert(5, 6)

In [ ]:
ap

[1, 2, 7, 3, 4, 5, 6, 8, 6, 9, 10]

In [ ]:
ap.remove(7)

In [ ]:
law = {1, 2, 3, 4, 5, 6}
min = {4, 5, 6, 7, 8, 9}

In [ ]:
# add ten to set law
law.add(10)

In [ ]:
law.remove(3)

In [ ]:
ap

[1, 2, 3, 4, 5, 6, 9, 10]

In [ ]:
ap.pop()

9

In [ ]:
ap

[1, 2, 3, 4, 5, 6]

In [ ]:
ap.extend([7, 9, 8, 10])

In [ ]:
ap

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 7, 9, 8, 10]

In [ ]:
ap.sort(reverse = True)
ap

[10, 10, 9, 9, 8, 8, 7, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# ap.clear()

In [ ]:
# create a list
num = [3, 4, 2, 1, 5]

In [ ]:
num.sort()
num

[1, 2, 3, 4, 5]

In [ ]:
num = [5, 3, 4, 2, 1]

In [ ]:
num.reverse()

In [ ]:
num

[1, 2, 4, 3, 5]

In [ ]:
num_copy = num.copy()
num_copy

[1, 2, 4, 3, 5]

Dictionaries

In [ ]:
my_dict = {
    "Tess":"is a girl",
    "law": "is a girl",
    "apple": "is a fruit"
}

In [ ]:
my_dict["Tess"]

'is a girl'

Control Flow
- simple if
- if ---- else
- elif (if ----- elif ---- else)
- nested if

In [ ]:
# An if state takes 2 items ie:
# the condition and the action to be performed
# eg
# if law so is something - condition
# print("this is is true of false")

She is an Adult

Simple if
- eg

In [ ]:
law =  25

if law > 25:
  print("She is an Adult")
if law == 25:
  print("She is a Young Adult")

She is a Young Adult

if -- else

In [ ]:
# runs one statement if the condition is true and another if the condition is false
if law >= 25:
  print("She is an Adult")
else:
  print("She is not an Adult")

She is an Adult

elif

In [ ]:
# Use multiple conditions to check the same sequence
if law >= 25:
  print("She is an Adult")
elif law >= 18:
  print("She is a Teenager")
else:
  print("She is a Child")

nested if

In [ ]:
# An if inside another if.
if law >= 25:
  print("She is an Adult")
  if law >= 20:
    print("She is a Young Adult")
else:
  print("She is not an Adult")

She is an Adult
She is a Young Adult

In [ ]:
a = 90
b = 60
c = 75
if a <= 80:
  print("You have passed")
  print("Excellent")
  if b <= 79:
    print("You performed averagely")
    if c <= 50:
      print("You failed")
else:
  print("It is False")

print("You are good")

It is False
You are good

Loops
- For
- While

In [ ]:
# a for loop goes through( or iterates over) a list, range, sequence
a = [1, 2, 3, 4, 5]
for number in a:
  print(number)

1
2
3
4
5

In [ ]:
for law in range(6):
  print(law)

0
1
2
3
4
5

In [ ]:
fruits = ["apple", "mango", "watermelon", "cherry"]
for tess in fruits:
  print("I like", tess)

I like apple
I like mango
I like watermelon
I like cherry

In [ ]:
# for law in range(2, 30):
#   if law % law == 0 & law % 1 == 0:
      # print(law)

While loop

In [ ]:
count = 0
while count <=5:
  print("Counting", count)
  count += 1

Counting 2
Counting 3
Counting 4
Counting 5

In [ ]:
count = count + 1
count = 2+1
count = 3+1
count = 4

In [ ]:
# first of you would have to set a count start(where you count will start from)
# you set a condition
# statements or block of code
# arithmetic instruction
count = 10
while count > 0:
  print("Counting",count)
  count -= 2

Counting 10
Counting 8
Counting 6
Counting 4
Counting 2

In [ ]:
count = count - 1
count = 5 - 1
count = 4 - 1
count = 3 - 1
count = 2 - 1
count = 1 - 1

In [ ]:
i = 0
while i < 3:
  print("While loop", i)
  i += 1

for i in range(5):
  print("Tess", i)

While loop 0
While loop 1
While loop 2
Tess 0
Tess 1
Tess 2
Tess 3
Tess 4

Break and continue

In [ ]:
# a break function stops a loop
count = 0
while count <= 10:
  if count == 7:
    break
  print("Count is", count)
  count += 1

Count is 0
Count is 1
Count is 2
Count is 3
Count is 4

In [ ]:
count = 10
while count > 1:
  if count == 5:
    break
  print("Count is", count)
  count -= 1

Count is 10
Count is 9
Count is 8
Count is 7
Count is 6

In [ ]:
count = 0
while count < 30:
  count += 1
  if count % 2 == 0 :
    continue
  print("Count is", count)

Count is 1
Count is 3
Count is 5
Count is 7
Count is 9
Count is 11
Count is 13
Count is 15
Count is 17
Count is 19
Count is 21
Count is 23
Count is 25
Count is 27
Count is 29

Functions

In [ ]:
# function is a block of reusable code that  performs a specific task
# def - which is the keyword to define the function
# name_of_function() - the name of the function
# parameter - a value that is passed into the function when it is called
# block code -
# return - which is the keyword to return a value from the function/ send the value back to where the function was called

def name_of_function():
  print("Tess")
  return value

In [ ]:
def greetings():
  print("Hello World")
greetings()

Hello World

In [ ]:
def greet_user(name):
  greetings = print("Hello", name)
  return

greet_user("Tess")

'law'

In [ ]:
# def add(a, b):
#     return a + b
# result = add(3, 5)
# print(result)

8

In [ ]:
def add(a, b):
  return a + b

In [ ]:
add(2, 4)

6

In [ ]:
def  mult(val):
  return 3 * val
mult(5)

15

In [ ]:
a = [1, 2, 3, 4, 5]

def num(mylist):
  mylist.pop()

num(a)
print(a)

[1, 2, 3, 4]

args (Arbitrary Positional Arguments) and kwargs (Arbitrary Text Arguments)

In [65]:
# The *args syntax allows a function to accept any number of non-keyword (positional) arguments
def performopertions(*number):
  total =  sum(number)
  print(f"The sum of {number} is {total}")
performopertions(1, 2, 3)
performopertions(10, 20, 30, 40)

The sum of (1, 2, 3) is 6
The sum of (10, 20, 30, 40) is 100

In [72]:
def performopertions(*args , **kwargs):
  print(args)
  print(kwargs)
  performopertions(1, 2, 3, operation = "sum")

Classes and Instances

In [ ]:
# a class in like a blueprint,  it tells python haow to make something.
# __init__ function runs when you make something new, it gives a name to what you are making
# self.name means what you are making should remember its name

class cat:
  def __init__(self, name):
    self.name = name
    self.legs = 4
    self.tail = True
    self.ear = 2

  def speak(self):
    print(self.name + "Meow")

In [ ]:
# the instance uses your blueprint to create something
my_cat = cat("Garfield")

In [ ]:
my_cat.speak()

Garfieldsays: Meow

In [ ]:
my_cat.legs

4

creating a menu using the class function

In [ ]:
class car:
  def __init__(self, brand, color):
    self.brand = brand
    self.color = color
    self.items = {}

  def add_vehicle(self, brand, color):
    self.items[brand] = color
    print(f"{brand} {color} added to the info")

  def info(self):
    print("Brand", self.brand)
    print("Color", self.color)

In [ ]:
my_car = car("brand", "color")

In [ ]:
my_car.add_vehicle("Toyota", "Red")
my_car.add_vehicle("KIA", "Blue")
my_car.add_vehicle("Corolla", "silver")
my_car.add_vehicle("Mercedez Benz", "black")
my_car.add_vehicle("Lexus", "white")

Toyota Red added to the info
KIA Blue added to the info
Corolla silver added to the info
Mercedez Benz black added to the info
Lexus white added to the info

In [ ]:
my_car.info()

Brand brand
Color color

In [ ]:
marks = int(input("Enter your marks: "))

if marks >= 80:
  print("You got an A")
  if marks >= 90:
    print("You are an Excellent student")

Enter your marks: 87
You got an A

In [ ]:
for i  in range(101):
  marks = i

  if marks >= 80:
    print("You got an A")
  elif marks >= 70:
    print("You got a B")
  elif marks >= 60:
    print("You got a C")
  elif marks >= 50:
    print("You got a D")
  else:
    print("You got a F")

Errors
- Syntax Error
- Logical Error

Exception
- performopertions
- TypeError
- ValueError
- NameError
- IndexError
- KeyError

In [102]:
try:
  numerator = int(input("Enter a number to divide: "))
  denominator = int(input("Enter a number to divide by: "))
  result = numerator / denominator
except ZeroDivisionError:
  print("You can't divide by zero!")
except ValueError:
  print("Error: Invalid input. Please enter a valid number.")

Enter a number to divide: a
Error: Invalid input. Please enter a valid number.