Datatypes
string
int
float

In [8]:
print("Hello World")

Hello World

In [18]:
print(5 + 4)

9

In [19]:
num1 = 5
num2 = 4
sum = num1 + num2
print(sum)

9

In [33]:
sum

9

In [28]:
law = "Theresa"
tess = "'s"

In [32]:
law

'Theresa'

In [29]:
# print Theresa's
# what concatenation means
print(law + tess)
print("Theresa" + "'s")

Theresa's

In [30]:
print("Theresa\'s")

Theresa's

In [31]:
# Numerical Data
# Exponent = **

8

In [34]:
name = "Tess"
age = 24
height = 5.5
is_student = True

In [40]:
print("student Name:",name)
print("Studenet age:", age)
print("student height:", height)
print("is she a student:", is_student)

student Name: Tess
Studenet age: 24
student height: 5.5
is she a student: True

In [58]:
# Checking for datatypes
print(type(name))
print(type(age))
print(type(height))
print(type(is_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [59]:
type(name)

str

In [62]:
# Undeerstanding the input function
name = input("Enter your name: ")
age = input("Enter your age: ")

print("Hello", name + ", you are", age , "years old")

Enter your name: Lawrencia
Enter your age: 27
Hello Lawrencia, you are 27 years old

In [67]:
num1 = str(input("Enter your first number"))
num2 = str(input("Enter your second number"))

print(num1 + num2)

Enter your first number24
Enter your second number23
2423

In [66]:
num1

23.0

In [70]:
num1 = float(input("Enter your first number:" ))
num2 = float(input("Enter your second number:" ))

print(num1 + num2)

Enter your first number:24
Enter your second number:23
47.0

In [72]:
# Operators
# Arithmetic, compasrison, logical
a = 10
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a // b)
print(a ** b)
print(a > b)

13
7
30
3.3333333333333335
1
3
1000
True

In [76]:
# Example of logical operator
age = 24
is_student = True

if age >= 25 and is_student:
  print("You are a Adult")

if age >= 25 or is_student:
  print("You are a Adult")

You are a Adult

In [ ]:
Control flow